<!DOCTYPE html>
<head>
<title>Homemgmt v0.1</title>
<script>
window.addEventListener("load",function() {
    setTimeout(function(){
        // This hides the address bar:
        window.scrollTo(0, 1);
    }, 0);
});
</script>
</head>
<body style='overflow: hidden'>
<form method=POST>
{% csrf_token %}
<input style='width: 100vw; height: 30vh;  font-size: 8vw;' type=text placeholder='username' name=username>
<input style='width: 100vw; height: 30vh;  font-size: 8vw;' name=password placeholder='password' type=password>
<input style='width: 100vw; height: 30vh;  font-size: 8vw;' type=submit value='login'></form>
</body>
</html>
